.input-controls {
  display: flex;
  gap: 15px;
}
@media only screen and (max-width: 600px) {
  .input-controls {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
    justify-content: center;
  }
}
.input-control-item {
  font-size: 18px;
  padding: 10px;
  border: 0;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
}
.search-btn {
  padding-left: 16px;
  padding-right: 16px;
  color: white;
  background: linear-gradient(135deg, #72edf2 10%, #5151e5 100%);
}
.weather-data {
  padding: 10px;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  width: 300px;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #72edf2 10%, #5151e5 100%);
  margin-top: 40px;
  border-radius: 20px;
  backdrop-filter: blur(10px);
}
.weather-icon {
  font-size: 100px;
}
.inline-weather-icon {
  font-size: 20px;
}
.main-paragrah {
  display: flex;
  align-items: center;
}
.main-property-desc {
  margin-right: 10px;
}
