@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  margin: 0;
  background-color: #0a0b2c;
  color: white;
}
.h1-weather {
  font-size: 50px;
  line-height: 50px;
}
.main-section {
  display: flex;
  align-items: center;
  padding-bottom: 50px;
  flex-direction: column;
}
